<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>texd UI</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3" integrity="sha384-G0X+ECsBjU2Ha7N2iYaXgLhQLRqTXERPvAoao78HQWMzQjfoVJxMaUj1595qZw5+" crossorigin="anonymous"></script>

  <script>
    const SAMPLE = `% sample document
\\documentclass{article}
\\usepackage{blindtext}

\\begin{document}
  \\tableofcontents
  \\Blinddocument
\\end{document}`

    const genId = (id => () => ++id)(0),
          newFile = type => ({ id: genId(), type, name: "", content: "" })

    document.addEventListener("DOMContentLoaded", () => {
      Vue.createApp({
        data() {
          const id = genId()

          return {
            rendering: false,
            engine:    "xelatex",
            errors:    "full",
            result:    null,

            main:  id,
            files: [{
              id,
              name:    "input.tex",
              type:    "text",
              content: SAMPLE,
            }]
          }
        },

        computed: {
          fileNames() {
            const n = {}
            for (let i = 0, len = this.files.length; i < len; ++i) {
              const { name } = this.files[i]
              if (!name) {
                continue
              }
              n[name] || (n[name] = 0);
              ++n[name]
            }
            return n
          }
        },

        methods: {
          newTextfile() {
            this.files.push(newFile("text"))
          },

          newFileinput() {
            this.files.push(newFile("file"))
          },

          removeFile({ id }) {
            const idx = this.files.findIndex(f => f.id === id)
            if (idx >= 0) {
              this.files.splice(idx, 1)
            }
          },

          onFileChange(f, ev) {
            const [realFile] = ev.target.files
            f.content = realFile
            f.name = realFile.name
          },

          async onSubmit() {
            this.rendering = true
            this.result = null

            const fd = new FormData()
            for (let i = 0, len = this.files.length; i < len; ++i) {
              const { type, name, content } = this.files[i]
              if (type === "file") {
                fd.append(name, content)
              } else if (type === "text") {
                fd.append(name, new Blob([content]), name)
              }
            }

            q = Object.entries({
              errors: this.errors,
              engine: this.engine,
              input:  this.files.find(f => f.id === this.main).name,
            }).reduce((params, [key, val]) => {
              return params.concat([`${key}=${encodeURIComponent(val)}`])
            }, [])

            const res = await fetch(`/render?${q.join("&")}`, {
              method: "POST",
              body: fd,
            })

            const ct = res.headers.get("Content-Type").split(";", 2)[0],
                  status = res.status

            switch (status) {
            case 200:
              if (ct === "application/pdf") {
                const blob = await res.blob()
                const data = await new Promise((resolve, reject) => {
                  const r = new FileReader()
                  r.readAsDataURL(blob)
                  r.addEventListener("load", () => resolve(r.result))
                })
                this.result = {
                  type: "pdf",
                  data,
                }
              } else {
                this.result = {
                  type:   "error",
                  messge: `unexpected response: ${res.statusText}`,
                  status,
                  ct,
                }
              }
              break
            case 422:
              if (ct === "text/plain") {
                const data = await res.text()
                this.result = { type: "log", data }
              } else if (ct === "application/json") {
                const data = await res.json()
                this.result = { type: "status", data }
              }
              break
            default:
              this.result = {
                type:    "error",
                message: `unexpected response`,
                status,
                ct,
              }
            }

            this.rendering = false
          },
        },
      }).mount('#app')
    })
  </script>
</head>

<body class="d-flex flex-column vh-100">
  <div id="app" class="container-fluid flex-grow-1 py-3">
    <form class="row align-items-stretch h-100" @submit.prevent="onSubmit">
      <div class="col-md-5">
        <div v-for="f in files" :key="f.id" class="card mb-3">
          <div class="card-header d-flex">
            <input
                type="radio"
                v-model="main"
                :value="f.id"
                class="me-3"
            >
            <div class="position-relative flex-grow-1">
              <input
                  v-if="f.type === 'text'"
                  v-model="f.name"
                  type="text"
                  placeholder="Filename including extension"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': !f.name || fileNames[f.name] > 1 }"
              >
              <input
                  v-if="f.type === 'file'"
                  type="file"
                  :placeholder="f.name || 'Select file'"
                  class="form-control form-control-sm"
                  :class="{ 'is-invalid': !f.name || fileNames[f.name] > 1 }"
                  @change="onFileChange(f, $event)"
              >
              <div v-if="!f.name" class="invalid-tooltip">
                missing name
              </div>
              <div v-if="fileNames[f.name] > 1" class="invalid-tooltip">
                duplicate name
              </div>
            </div>

            <button
                class="btn btn-sm ms-3 btn-outline-danger"
                @click.prevent="removeFile(f)"
            >
              remove
            </button>
          </div>

          <div class="card-body" v-if="f.type === 'text'">
            <textarea
                v-model="f.content"
                class="form-control"
                rows="10"
            ></textarea>
          </div>
        </div>

        <div class="mb-3">
          <button
              class="btn btn-sm btn-outline-secondary"
              @click.prevent="newTextfile"
          >add text editor</button>
          <button
              class="btn btn-sm btn-outline-secondary ms-1"
              @click.prevent="newFileinput"
          >attach file</button>
        </div>

        <details class="card mb-3">
          <summary class="card-header">Options</summary>

          <div class="card-body">
            <div class="row mb-1">
              <label for="engine" class="col-form-label col-form-label-sm col-sm-4">
                TeX engine
              </label>
              <div class="col-sm-8">
                <select id="engine" v-model="engine" class="form-select form-select-sm">
                  <option value="xelatex">xelatex</option>
                  <option value="pdflatex">pdflatex</option>
                  <option value="lualatex">lualatex</option>
                </select>
              </div>
            </div>

            <div class="row mb-1">
              <label for="errors" class="col-form-label col-form-label-sm col-sm-4">
                show errors
              </label>
              <div class="col-sm-8">
                <select id="errors" v-model="errors" class="form-select form-select-sm">
                  <option value="full">full log</option>
                  <option value="condensed">condensed log</option>
                  <option value="">JSON status</option>
                </select>
              </div>
            </div>

            <div class="row">
              <label for="main" class="col-form-label col-form-label-sm col-sm-4">
                main input file
              </label>
              <div class="col-sm-8">
                <select id="main" v-model="main" class="form-select form-select-sm">
                  <option
                      v-for="f in files" :key="f.id"
                      :value="f.id"
                      v-text="f.name || '(no name)'"
                  ></option>
                </select>
              </div>
            </div>
          </div>
        </details>

        <div class="d-flex justify-content-end">
          <button
              class="btn btn-sm btn-success"
              @click.prevent="onSubmit"
          >Render document</button>
        </div>
      </div>

      <div class="col-md-7">
        <div v-if="result === null" class="d-flex text-center align-items-center justify-content-center h-100">
          <em v-if="rendering" class="text-muted">
            Rendering&hellip;
          </em>
          <em v-else class="text-muted">
            Nothing to display.<br>
            Add some files and hit render.
          </em>
        </div>

        <div
            v-else-if="result.type === 'error'"
            class="alert alert-danger alert-dismissible"
        >
          {{ result.message }}

          <div class="small mt-3">
            Status: {{ result.status || 'unknown' }},
            Content-Type: {{ result.ct || 'unknown' }}
          </div>

          <button class="btn-close" @click="result = null"></button>
        </div>

        <template v-else-if="result.type === 'log'">
          <div class="alert alert-warning alert-dismissible">
            Compilation failed
            <button class="btn-close" @click="result = null"></button>
          </div>

          <h3>Logs</h3>
          <pre class="border" v-text="result.data"></pre>
        </template>

        <template v-else-if="result.type === 'status'">
          <div class="alert alert-warning alert-dismissible">
            Compilation failed
            <button class="btn-close" @click="result = null"></button>
          </div>

          <h3>Status</h3>
          <div class="border">{{ result.data }}</div>
        </template>

        <object
            v-else-if="result.type === 'pdf'"
            :data="result.data"
            type="application/pdf"
            class="h-100"
        />
      </div>
    </form>
  </div>
</body>
</html>
