[Unit]
Description=texd - TeX web service
Documentation=https://github.com/dmke/texd
After=network.target

[Service]
ExecStart=/usr/bin/texd
User=texd

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
