name: Base Image

# rebuild the base image each month on the 3rd at 5:17am,
# or if we manually tag the Git repo
on:
  schedule:
    - cron: '17 5 3 * *'
  push:
    tags:
      - base/*

jobs:
  # update digineode/texd:base image
  base:
    runs-on: ubuntu-latest
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup buildx
        uses: docker/setup-buildx-action@v1
        with:
          platforms: linux/amd64,linux/arm64/v8

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build base image
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.base
          platforms: linux/amd64,linux/arm/v8
          push: true
          tags: digineode/texd:base
          context: .
