name: Base Image

on:
  # rebuild the base image each month on the 3rd at 5:17am
  schedule:
    - cron: '17 5 3 * *'

  # or manually via button in UI
  workflow_dispatch:

jobs:
  base:
    name: Create base image
    runs-on: ubuntu-latest
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: linux/amd64,linux/arm64/v8

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Build base image
        uses: docker/build-push-action@v3
        with:
          file: ./.github/Dockerfile.base
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: digineode/texd:base
          context: .
